@{
    ViewData["Title"] = "Home Page";
}
<form method="post">


    <h1>System zarządzania stanem urządzeń w firmie</h1>
    <a asp-controller="Products" asp-action="Index">

        <input type="button" class="btn btn-success" value="Dodaj urządzenie"/>
    </a>
    

</form>

