@{
    ViewData["Title"] = "Home Page";
}
<form method="post">


    <h1>Records of devices after visual inspection</h1>
    <a asp-controller="Products" asp-action="Index">

        <input type="button" class="btn btn-success" value="Add inspection"/>
    </a>
    

</form>

