@model ProductModel
    <meta charset="utf-8">
<h1>Dodaj element</h1>


<form method="POST" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description">Fault description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-check">
        <input asp-for="IsGood" class="form-check-input" />
        <label asp-for="IsGood" class="form-check-label">Device is functional</label>
    </div>

    <div class="form-group">
        <input type="submit" value="Add" />
    </div>

</form>
